@import url('http://fonts.cdnfonts.com/css/product-sans');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: url('assets/Background.png');
    /* max-width: 1940px; */
    /* position: relative; */
    border: 3px solid rgb(26, 150, 57);
}
header {
    background-color: #FFFFFF;
}

.nav-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-left: 1.2em;
    padding-right: 1.2em;
    background: #FFFFFF;
    box-shadow: 0px 12px 22px rgba(0, 0, 0, 0.05);
    border: 1px solid red;

}

.navigation-links ul {

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation-links ul li {

    align-self: center;
    margin: 1em;
    list-style-type: none;
   
}

.key{

    text-decoration: none;
}
.logo-container {
    /* width: 100%; */
    cursor: pointer;
    padding-left: 50px;
}

.navigation-links li a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.navigation-links ul button{
    border: 1px solid #7C14FD;
    border-radius: 10px;
    background: transparent;
    padding: 5px;
    font-family: 'HK Grotesk';
    font-style: normal;
/* font-weight: 600; */
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
    color: #7C14FD;


}
.hamburger {
    cursor: pointer;
    display: none;
}



                    /* FOOTER SECTION */
.footer{
    display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        /* z-index: 1; */
                        /* margin-top: -300px; */
                        border: 2px dashed rgb(180, 9, 129);
                        
                    }
                    .footer-container  {
                        /* z-index: 1; */
                        color: #FFFFFF;
                        display: flex;
                        gap: 3.6em;
                        margin-top: 320px;
                        padding-right: 130px;
                    }
                    .footer-logo-section {
                        /* display: flex; */
                        justify-content: center;
                        text-align: center;
                        
                    }
                    div.footer-logo-section img {
                        cursor: pointer;
                    }
                    
                    .footer {
                        height: 30rem;
                        background-image: url('/assets/Vector.png');
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                    }
                    
                    div.company-details h5 {
                    color: #FFFFFF;
                    
                    }
                    .company-details ul {
                        list-style-type: none;
                    }
                    .company-details a {
                    text-decoration: none;
                    }
                    .company-details a:hover {
                    text-decoration: underline;
                    }
                    
                    
                    .service-contents ul {
                        list-style-type: none;
                    }
                    .service-contents a {
                    text-decoration: none;
                    }
                    .service-contents a:hover {
                        text-decoration: underline;
                    }
                    
                    .podcast-contents input {
                        color: #7C14FD;
                        border: none;
                        height: 100px;
                        background-color: #7C14FD;
                    }
                    